%card {
  width: 300px;
  height: 400px;
  margin: 15px 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}


%displayFlex {
  display: flex;
  flex-wrap: wrap;
}