@use 'animations' as *;
@use 'functions' as *;
@use 'variables' as *;

%card {
  width: 300px;
  height: 400px;
  margin: 15px 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}


%displayFlex {
  display: flex;
  flex-wrap: wrap;
}

%btn {
  position: relative;
  margin-top: 40px;
  padding: 14px 20px;
  border: none;
  color: $primary-color-dark;
  outline: 3px solid $primary-color-dark;
  background-color: $white;
  font-size: 20px;
}

%btn--hover {
  color: $white;
  background-color: $primary-color-dark;
}