@use 'variables' as *;

@mixin cardsBackground($url) {
  background-image: url($url);
    background-size: cover;
    background-position: center;
}

@mixin fadeInElement($time, $elementNumber) {
  animation: fadeIn $time ease-in forwards ($elementNumber*$fadeInTime);
}

@mixin cardsHoverAnimation() {
  transform: scale(1.04);
  box-shadow: 0px 4px 10px 3px grey;
  transition: all 0.4s;
}

@mixin rotateSymbol($deg) {
  transform: rotateZ($deg+deg);
  transition: transform 0.4s;
}
