$theme-color: hsl(0, 0%, 92%);
$white: #ffffff;
$text-color: hsl(0, 0%, 50%);
$primary-color: #aed581;
$primary-color-light: #dcedc8;
$primary-color-dark: hsl(85, 70%, 49%)
// $secondary-color: ;
// $secondary-color-light: ;
// $secondary-color-dark: ;
