@use 'animations' as *;
@use 'functions' as *;
@use 'variables' as *;
@use 'classess' as*;

.cards {
  @extend %displayFlex;
  width: 100%;
  justify-content: center;
  font-size: 24px;

  &--card--medycyna_estetyczna {
    @extend %card;
    @include fadeInElement(0.2s, 1);
    @include cardsBackground('./pictures/medycyna_estetyczna.jpg');
  }
  &--card--medycyna_estetyczna:hover {
    background-color: grey;
  }

  &--card--zabiegi_twarzy {
    @extend %card;
    @include fadeInElement(0.3s, 2);
    @include cardsBackground('./pictures/oczyszczanie.jpeg');
  }

  &--card--zabiegi_na_cialo {
    @extend %card;
    @include fadeInElement(0.3s, 3);
    @include cardsBackground('./pictures/zabiegi_na_cialo.jpg');

  }

  &--card--zabiegi_na_dlonie_i_paznokcie {
    @extend %card;
    text-align: center;
    @include fadeInElement(0.3s, 4);
    @include cardsBackground('./pictures/zabiegi_na_dlonie_i_paznokcie.jpg');
  }

  &--card--zabiegi_dla_panów {
    @extend %card;
    @include fadeInElement(0.3s, 5);
    @include cardsBackground('./pictures/zabiegi_dla_panow.jpg');

  }

  &--card--zabiegi_na_włosy {
    @extend %card;
    @include fadeInElement(0.3s, 6);
    @include cardsBackground('./pictures/zabiegi_na_wlosy.jpg');

  }
}