@use 'animations' as *;
@use 'classess' as *;
@use 'functions' as *;
@use 'variables' as *;


.container {
  display: flex;

  @for $i from 0 to 20 {
    .thumbnail--#{$i} {
      opacity: 0;
      margin: 20px 20px;
    }
  }

  @for $i from 0 to 20 {
    .thumbnail--#{$i} {
      animation: fadeIn 0.15s 0.15s*$i ease-in-out normal forwards;
      border-top: 6px solid $primary-color-light;
      border-left: 6px solid $primary-color-light;
      border-bottom: 6px solid $primary-color-dark;
      border-right: 6px solid $primary-color-dark;
      width: 240px;
      height: 160px;
      content: url('../Pages/Gallery/gallery/gallery__'+#{$i}+'.jpg');
      cursor: pointer;
    }

    .thumbnail--#{$i}:hover {
      @include cardsHoverAnimation();
    }
  }

}
