@use 'animations';
@use 'classess';
@use 'functions';
@use 'variables';


.container {
  display: flex;

  
  @for $i from 0 to 6 {
    .thumbnail--#{$i} {
      opacity: 0;
    }
  }

  @for $i from 0 to 6 {
    .thumbnail--#{$i} {
      animation: fadeIn 0.3s 0.3s*$i ease-out normal forwards;
      border-top: 5px solid white;
      border-left: 5px solid white;
      border-bottom: 5px solid rgb(224, 224, 224);
      border-right: 5px solid rgb(224, 224, 224);
      width: 300px;
      height: 350px;
      background-image: url('../Pages/Gallery/gallery/gallery__'+#{$i}+'.jpg');
      background-size: cover;
    }
  }

}
