@use 'animations' as *;
@use 'functions' as *;
@use 'variables' as *;
@use 'classess' as*;

.specialoffers {
  opacity: 0;
  @extend %displayFlex;
  flex-direction: column;
  align-items: center;
  padding-inline: 6vw;
  animation: fadeIn 0.3s ease-in forwards 0.1s normal;

  h1 {
    animation: flashingHeader 1s linear 0.3s infinite normal none;
  }

  p {
    margin-bottom: 50px;
  }

  &--content{
    min-width: 60vw;
    max-width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    border: 4px solid black;
    border-radius: 20px;

      &__logo {
        content: url('../components/Menu/pictures/Logo.png');
        min-width: 40vw;
        max-width: 50vw;
      }

      &--specialOffersList {
        padding: 1em;

        span {
          display: inline-block;
        }
        img {
          display: inline-block;
        }

        @for $i from 0 through 4 {
          &__img#{$i} {
            content: url('../components/SpecialOffersList/pictures/specialOffersListImage--img--'+ #{$i} +'.jpg');
            max-width: 25vw;
          }
          &__img#{$i+5} {
            content: url('../components/SpecialOffersList/pictures/specialOffersListImage--img--'+ #{$i+5} +'.jpg');
            max-width: 25vw;
          }
        }
      }
  }
}